*{
    /* background-color: black; */
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
}


/* HEADER */
header
{
    display: flex;
    justify-content: center;
    height: 100vh;
    background-image: url("../img/h5-revolution-img-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color:white;
}

/* BARRE DE NAVIGATION */
nav
{
    display: flex;
    position: fixed;
    width: 100%;
    justify-content: space-between;
    height: 200px;
    background: rgba(0, 0, 0, 0.5);
    padding-left: 35px;
    padding-right: 35px;
    align-items: center
}

nav ul
{
    display: flex;
    flex-direction: row;
    align-content: center;
    list-style: none;
}

nav h1
{
    font-family: alternate-gothic-extra-cond, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    align-content: center;
}

.navigation a{
    font-family: 'Oswald', sans-serif;
    padding: 15px;
    font-size: 20px;
    color:white;
    text-decoration: none;
}

.navigation a:hover
{
    color: gray;
    transition: 0.5s;
}

 /* RESEAUX */
.reseaux i
{
    width: 25px;
    height: 25px;
    transition: 0.5s;
}

.reseaux i:hover
{
    opacity: 0.5;
    cursor: pointer;
}

.reseaux li{
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    color:white;
    font-size: 20px;
}






.first
{
    padding-top: 240px;
}


/* DEUXIEME SECTION */

/* BANDEAU DE CITATION */
.banner
{
    font-family: 'Roboto Condensed', sans-serif;
    color: white;
    font-size: 63px;
    background-color: #c59d5f;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0px;
}

.banner p{
    display: inline-block;
    text-align: justify;
}



/* ARTICLES */
.containerBeer, .containerPub
{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 733px;
}

.containerImageArticle1 
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../img/h5-el-holder-img-1-1.jpg");
    background-repeat: no-repeat;
    width: 50%;
    height: 100%;
    background-size: 100% 100%;
}

.containerImageArticle2 
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../img/h5-el-holder-img-2.jpg");
    background-repeat: no-repeat;
    width: 50%;
    height: 100%;
    background-size: 100% 100%;
}



.articleBeer, .articlePub
{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 50%;
    text-align: center;
    padding-left: 75px;
    padding-right: 75px;
}

.articleBeer h1, .articlePub h1{
    font-family: 'Times New Roman', Times, serif;
    padding-bottom: 10px;
    font-size: 50px;
}

.articleBeer h2, .articlePub h2
{
    font-style:italic;
    font-family: 'Times New Roman', Times, serif;
    padding-bottom: 15px;
}

.articleBeer p, .articlePub p{

    font-family: 'Raleway', sans-serif;
    padding-bottom: 15px;
    color: gray;
    line-height: 2;
}

.articleBeer a, .articlePub a{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #c59d5f;
    width: 60px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 15px;
    width: 200px;
    height: 50px;
    border-radius: 5px;
    color: white;
    transition: opacity 0.5s;
}



.articleBeer a:hover, .articlePub a:hover{
    opacity: 0.8;
    cursor: pointer;
}

/* SECTION GALERIE */

.galerie{

    display: flex;
    flex-direction: row;
}

.imgGallerie img{
    transition: all 0.5s ease;
}

.imgGallerie{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: #c59d5f;
    overflow: hidden;
}

.imgGallerie span{
    position: absolute;
    color: white;
    font-size: 100px;
    opacity: 0;
    transition: all 0.5s ease;
}

.imgGallerie:hover span{
    transform: rotate(90deg);
    opacity: 1;
    cursor: pointer;
    
}

.imgGallerie:hover img{
    opacity: 0.3;
    transform: scale(1.1);
    cursor: pointer;
}

/* SECTION SERVICES */

.services{
    display: flex;
    justify-content: center;
    padding-top: 70px;
    padding-bottom: 70px;
    gap: 1.5vw;
    
}

.service{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 300px;
    z-index: 1;
}

.service p{
    color: gray;
    text-align:center ;
    font-size: 15px;
    line-height: 1.7;
}

.service h1{
    margin-top: 15px;
    font-size: 20px;    
}

.backgroundService {
    z-index: 0;
    height: 100px;
    width: 100px;
    background: radial-gradient(closest-side, #c59c5f, #c59c5f5c, #c59c5f00);
    position: absolute;
    top: 0;
    left: 50;
}