*{
    /* background-color: black; */
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
}


/* HEADER */
header
{
    display: flex;
    justify-content: center;
    height: 100vh;
    background-image: url("../img/h5-revolution-img-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color:white;
}

/* BARRE DE NAVIGATION */
nav
{
    display: flex;
    position: fixed;
    width: 100%;
    justify-content: space-between;
    height: 200px;
    background: rgba(0, 0, 0, 0.5);
    padding-left: 35px;
    padding-right: 35px;
    align-items: center
}

nav ul
{
    display: flex;
    flex-direction: row;
    align-content: center;
    list-style: none;
    
}

nav h1
{
    font-family: alternate-gothic-extra-cond, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    align-content: center;
}

.reseaux svg
{
    width: 25px;
    height: 25px;
    transition: 0.5s;

}

.reseaux svg:hover
{
    opacity: 0.5;
}


.navigation a{
    font-family: 'Oswald', sans-serif;
    padding: 15px;
    font-size: 20px;
    color:white;
    text-decoration: none;
}

.navigation a:hover
{
    color: gray;
    transition: 0.5s;

}


.reseaux li{
    font-family: 'Oswald', sans-serif;
    padding: 15px;
    color:white;
}

.first
{
    padding-top: 240px;
}



 
